In [72]:
# Importar bibliotecas necessárias
import pandas as pd
import re
from conexao_bancodedados import *

In [95]:
# Definir o caminho do arquivo CSV
csv_file = r'C:\Users\Lucas\OneDrive\Documentos\projetos_python\Jornada_financas_pessoais\data\Controle de Ações e FII - Yasmin - FII.csv'

# Pega o nome do acionista que está entre os "- -"
nome_acionista = re.search(r'- (.*) -', csv_file).group()

# Ler o arquivo CSV delimitado por vírgula
arquivo = pd.read_csv(csv_file, sep=',', names=['DATA', 'PAPEL', 'OP', 'PREÇO', 'QTD', 'CUS.T.', 'TOTAL OP', 'RAT.', 'V. LIQUIDO', 'ESTOQUE', 'P.MEDIO', 'GAN_PER', 'IR_MES', 'MES_REF', 'VENDAS_MES'])

# Transforma arquivo em um DataFrame para que possa ser aplicado os métodos
df = pd.DataFrame(arquivo)

In [99]:
# Inclui nome do acionista
df['Acionista'] = nome_acionista

# Remove "-" que estão entre a coluna nome do acionista
df['Acionista'] = df['Acionista'].str.replace('-', '')

# Exibe Dataframe 
df.head()

,DATA,PAPEL,OP,PREÇO,QTD,CUS.T.,TOTAL OP,RAT.,V. LIQUIDO,ESTOQUE,P.MEDIO,GAN_PER,IR_MES,MES_REF,VENDAS_MES,Acionista
0,DATA,PAPEL,OP,QTD,PREÇO,CUS.T.,TOTAL OP,RAT.,V. LIQUIDO,ESTOQUE,PMEDIO,GAN/PER,IR MÊS,MÊS REF.,VENDAS/MÊS,Yasmin
1,26/10/2021,LVBI11,C,2,"97,78","0,19","195,56","0,05","-195,61",2,"97,805",NaN,NaN,10/2021,"0,00",Yasmin
2,26/10/2021,RBED11,C,2,"132,10","0,19","264,20","0,07","-264,27",2,"132,135",NaN,NaN,10/2021,"0,00",Yasmin
3,26/10/2021,TRXF11,C,2,"101,21","0,19","202,42","0,05","-202,47",2,"101,235",NaN,NaN,10/2021,"0,00",Yasmin
4,08/11/2021,XPML11,C,6,"96,47","0,16","578,82","0,16","-578,98",6,"96,497",NaN,NaN,11/2021,"0,00",Yasmin

In [90]:
# Truncar os dados da tabela antes de carregar
truncate_table('bronze','controle_ativo')

In [91]:
# Conexão com o banco de dados na camada "bronze":
engine = conexao_mysql('bronze')

df.to_sql(name='controle_ativo', con=engine, if_exists='append', index=False)

-1